@media only screen and (min-width: 200px) and (max-width:424px){
    h1{
        text-align: center;
        font-size: 30px;
        margin-top: 50px;
        text-decoration: underline 2px;
        font-family: 'Vidaloka', sans-serif;
        font-weight: 300;
        color: #5D1B34;
    }
    
    .frasePack{
        font-size: 20px;
        font-family: 'Vidaloka', sans-serif;
        font-weight: 300;
        text-align: center;
        color: #5D1B34;
        
    }
    
    
    .textPack{
        font-size: 18px;
        margin-top: 50px;
        margin-bottom: 120px;
        font-family: 'Montserrat', sans-serif;
        font-weight: 1000;
        text-align:center ;
    }
    
    
    .textPack4,
    .textPack5{
        font-size: 18px;
        margin-top: 50px;
        margin-bottom: 180px;
        font-family: 'Montserrat', sans-serif;
        font-weight: 1000;
        text-align:center ;
        
    }
    

}


@media only screen and (min-width: 425px) and (max-width:767px){
    h1{
        text-align: center;
        font-size: 45px;
        margin-top: 50px;
        text-decoration: underline 2px;
        font-family: 'Vidaloka', sans-serif;
        font-weight: 300;
        color: #5D1B34;
    }
    
    .frasePack{
        font-size: 20px;
        font-family: 'Vidaloka', sans-serif;
        font-weight: 300;
        text-align: center;
        color: #5D1B34;
        
    }
    
    
    .textPack{
        font-size: 20px;
        margin-top: 50px;
        margin-bottom: 158px;
        font-family: 'Montserrat', sans-serif;
        font-weight: 1000;
        text-align:center ;
    }
    
    
    .textPack4,
    .textPack5{
        font-size: 20px;
        margin-top: 50px;
        margin-bottom: 218px;
        font-family: 'Montserrat', sans-serif;
        font-weight: 1000;
        text-align:center ;
        
    }
    

}


@media only screen and (min-width: 768px) {

    h1{
        text-align: center;
        font-size: 60px;
        margin-top: 50px;
        text-decoration: underline 2px;
        font-family: 'Vidaloka', sans-serif;
        font-weight: 300;
        color: #5D1B34;
    }
    
    .frasePack{
        font-size: 25px;
        font-family: 'Vidaloka', sans-serif;
        font-weight: 300;
        text-align: center;
        color: #5D1B34;
        
    }
    
    
    .textPack{
        font-size: 25px;
        margin-top: 50px;
        margin-bottom: 158px;
        font-family: 'Montserrat', sans-serif;
        font-weight: 1000;
        text-align:center ;
    }
    
    
    .textPack4{
        font-size: 25px;
        margin-top: 50px;
        margin-bottom: 218px;
        font-family: 'Montserrat', sans-serif;
        font-weight: 1000;
        text-align:center ;
        
    }

    .textPack5{
        font-size: 25px;
        margin-top: 20px;
        margin-bottom: 218px;
        font-family: 'Montserrat', sans-serif;
        font-weight: 1000;
        text-align:center ;

    }

}




















